@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
@import url(https://fonts.googleapis.com/css?family=Rancho);
@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);
$primary-color: #009cd8;
$secondary-color: #29277f;
$danger-color: #dc143c;
$purple-color: #6a5acd;
$neutral-color: #f8f8ff;

/* =============
  == Core List==

   - Common
   - Helper classes
   - Extras
   - Element UI Custom
   - Certificates
   - Mobile

============= */
/* =============
   Common
============= */

html {
  position: relative;
  min-height: 100%;
  background: #fff;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: #647b9c;
  margin: 0px;
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #0ae;

  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 10px 0;
  font-family: 'Poppins', sans-serif;
  word-break: break-word !important;
  color: #647b9c;
}

h1 {
  line-height: 36px;
  font-size: 30px;
}

h2 {
  line-height: 30px;
  font-size: 24px;
}

h3 {
  line-height: 24px;
  font-size: 18px;
}

h4 {
  line-height: 18px;
  font-size: 14px;
}

h5 {
  line-height: 14px;
  font-size: 10px;
}

h6 {
  font-size: 12px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.8;
}

* {
  outline: none !important;
}

b {
  font-weight: 600;
}

a:hover {
  outline: 0;
  text-decoration: none;
}

a:active {
  outline: 0;
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: none;
}

/* =============
Helper clasess
============= */

.fw-800 {
  font-weight: 800;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.p-20 {
  padding: 20px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.p-l-40 {
  padding-left: 40px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-l-r-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.m-r-40 {
  margin-right: 40px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.m-l-35 {
  margin-left: 35px !important;
}

.m-l-40 {
  margin-left: 40px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.hide {
  display: none;
}

.handle {
  cursor: move !important;
}

.center {
  text-align: center;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}

/* =============
   Extras
============= */

.integration-image {
  width: 150px;
}

.no-results-img {
  width: 150px;
}

.form-group {
  margin-bottom: 1rem;
}

.list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

label {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
}

.container-site {
  margin-left: 15%;
  margin-right: 15%;
}

.content-page {
  margin-left: 230px;
  height: 100%;
  padding: 5%;
}

.card-box {
  padding: 40px;
  border-radius: 15px !important;
  margin-bottom: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 3px 0px #aca9a9;
  box-shadow: 0px 0px 3px 0px #aca9a9;
}

.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.side-menu {
  top: 0px;
  width: 230px;
  z-index: 10;
  background: #373a43;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  margin-top: 0;
  padding-bottom: 30px;
  position: fixed;
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06),
    0 1px 0 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}

.side-bar {
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06),
    0 1px 0px 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  display: block;
  float: left;
  height: 100%;
  position: fixed;
  transition: all 200ms ease-out;
  width: 240px;
}

.is-circle {
  border-radius: 50% !important;
  padding: 12px;
  color: white;
}

.is-circle:hover {
  color: white;
}

.editr {
  overflow: auto;
  height: 200px;
  border-radius: 4px;
  border: 2px solid #ccc;
  transition: border-color 0.15s linear !important;
}

.editr--content {
  font-family: 'Poppins', sans-serif !important;
  font-size: 15px !important;
  overflow-y: hidden !important;
}

.sbr-text-primary {
  color: $primary-color !important;
}

.sbr-text-purple {
  color: $purple-color !important;
}

.sbr-text-grey {
  color: #9e9c9c !important;
}

.sbr-text-danger {
  color: $danger-color !important;
}

.sbr-shadow-primary {
  box-shadow: 0px 0px 3px 0px $primary-color;
}

/* =============
Element UI Custom
============= */

// El select
.el-select-dropdown {
  z-index: 9999 !important;
}

// Dialog
.el-dialog {
  width: 50%;
  border-radius: 10px !important;
}

.el-dialog__wrapper {
  z-index: 9999 !important;
}

.el-dialog__header {
  padding: 20px 20px 10px;
  border-radius: 10px 10px 0px 0px !important;
}

.el-dialog--center .el-dialog__body {
  padding: 40px 40px 40px !important;
}

.el-dialog__header {
  font-family: 'Poppins', sans-serif;
  -webkit-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06),
    0 1px 0px 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.06), 0 5px 0px 0 rgba(0, 0, 0, 0.02);
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px #aca9a9;
}

// Picker (Date and time)
.el-picker-panel {
  z-index: 12000 !important;
}

// Input
.el-input__inner {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}

// Message
.el-message {
  z-index: 20000 !important;
}

// Color picker
.el-color-dropdown {
  z-index: 9999 !important;
}

// Switch
.el-switch__label.is-active {
  color: $primary-color !important;
}

// Select
.el-select {
  width: 100%;
}

// Rate
.el-rate__text {
  color: white !important;
}

// Pagination
.el-pagination {
  margin-top: 5%;
}

// Menu
.el-menu {
  border-right: none !important;
}

// Item group
.el-menu-item-group__title {
  font-family: 'Poppins', sans-serif;
  line-height: 30px;
  font-size: 15px;
}

// Pagination
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background: $primary-color !important;
}

// Badge
.el-badge__content {
  line-height: 15px !important;
}

.el-badge__content--primary {
  background-color: $primary-color !important;
}

// Tabs
.el-tabs--border-card {
  margin-bottom: 10% !important;
}

.el-tabs__active-bar {
  background-color: $primary-color !important;
}

.el-tabs__item.is-active {
  color: $primary-color !important;
}

.el-tabs__item {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #909399 !important;
}

.el-tabs--border-card
  > .el-tabs__header
  .el-tabs__item:not(.is-disabled):hover {
  color: #3734a9 !important;
}

/* =============
   Buttons
============= */

.mercadopago-button {
  width: 80% !important;
  margin-top: 10% !important;
  display: flex !important;
  height: 54px !important;
  font-weight: 600 !important;
  border-radius: 50px !important;
  color: #fff !important;
  align-items: center !important;
  justify-content: center !important;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem !important;
  line-height: 1.25 !important;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.sbr-primary {
  color: white !important;
  background-color: $primary-color !important;
  box-shadow: 0 2px 5px rgba(0, 225, 240, 0.5) !important;
}

.sbr-secondary {
  color: white !important;
  background-color: $secondary-color !important;
  box-shadow: 0 2px 5px rgba(0, 0, 205, 0.5) !important;
}

.sbr-danger {
  color: white !important;
  background-color: $danger-color !important;
  box-shadow: 0 2px 5px rgba(255, 0, 0, 0.5);
}

.sbr-purple {
  color: white !important;
  background-color: $purple-color !important;
  box-shadow: 0 2px 5px #6a5acd !important;
  border-color: #6a5acd !important;
}

.sbr-neutral {
  background-color: $neutral-color !important;
  color: grey !important;
  box-shadow: 0 2px 5px rgba(54, 54, 54, 0.5) !important;
}

/* =============
Certificates
============= */

// Classic certificate template
.classic-template {
  text-align: center;
  width: 600px;
  position: absolute;
  margin-left: 50%;
  left: -300px;
  top: 30%;
  letter-spacing: 3px;
}

.classic-template hr {
  width: 50%;
}

// Tech template
.tech-template {
  color: white;
  text-align: center;
  width: 600px;
  position: absolute;
  margin-left: 50%;
  left: -300px;
  top: 30%;
  letter-spacing: 3px;
}

.tech-template p {
  color: #0ebfff !important;
}

.tech-template hr {
  color: white;
  background-color: white;
  width: 50%;
}

// Artistic template
.artistic-template {
  text-align: center;
  width: 600px;
  position: absolute;
  margin-left: 50%;
  left: -300px;
  top: 30%;
  letter-spacing: 3px;
}

.artistic-template p {
  color: #293579 !important;
}

.artistic-template hr {
  color: white;
  background-color: white;
  width: 50%;
}

/* =============
Mobile
============= */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .content-page {
    margin-left: 0px !important;
  }
}
@media only screen and (max-width: 1023px) {
  .navbar-brand {
    width: 150px !important;
  }

  .el-dialog {
    width: 90% !important;
  }

  .mobile-topbar {
    display: initial;
  }

  .leftside-viewcourse.retracted {
    display: none;
    -webkit-animation: fadeOut 5s;
    animation: fadeOut 5s;
  }
  .leftside-viewcourse.opened {
    width: 94% !important;
    display: initial;
    -webkit-animation: slide 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 2s forwards;
    animation-delay: 2s;
  }

  @media only screen and (max-width: 600px) {
    .content-page {
      margin-top: 25%;
    }
  }

  @media (max-width: 480px) {
    .side-menu.retracted {
      position: fixed;
      top: 0;
      left: -500px;
      transition: 1s;
    }

    .side-menu.opened {
      position: fixed;
      top: 0;
      display: initial;
      transition: 1s;
      left: 0;
    }
  }

  .mobile-topbar {
    display: none;
  }
}
